<div class='row></div>

<h1 class 'four columns offest by-four '></h1>
<h1 class 'four columns'> Rahilla Zafar </h1>

<div class='row'></div>

<a href="contact">
  <img src="https://si0.twimg.com/profile_images/378800000130051073/17ca0b6761c814c04ba4c1c5dfad3508.jpeg"></a>

<div class= 'row'></div>

<ul class='four columns offset-by-four'>
<h2 class= 'four columns'> Ruby </h2>
<h2 class='four columns'> Sinatra </h2>
<h2 class='four columns'> HTML </h2>
<h2 class='four columns'> CSS </h2>

</ul>

